<!-- require APlayer -->
<link rel="stylesheet" href="/ipa picture/css/APlayer.min.css">
<div id="player1" apname="{{ page.apname }}" apartist="{{ page.apartist }}" apurl="{{ page.apurl }}" apcover="{{ page.apcover }}" aplrc="{{ page.aplrc }}" class="aplayer"></div>
<script src="/ipa picture/js/APlayer.min.js"></script> 
  
<!-- APlayer 加载参数 -->
<script type="text/javascript">
var getDom=document.getElementsByClassName("aplayer");
for(var i=0;i<getDom.length;i++){//遍历网页中所有播放器
	var ap1 = new APlayer({
		element: getDom[i],
		narrow: false,
		autoplay: false,
		showlrc: true,
		lrcType: 3,
		music: [{
			name: getDom[i].getAttribute("apname"),
			artist: getDom[i].getAttribute("apartist"),
			url: getDom[i].getAttribute("apurl"),
			cover: getDom[i].getAttribute("apcover"),
			lrc: getDom[i].getAttribute("aplrc")
		}]
	});
	ap1.init(); 
}
</script>
