<!-- require APlayer -->
<link rel="stylesheet" href="/ipa picture/css/APlayer.min.css">
<script src="/ipa picture/js/APlayer.min.js"></script>
<!-- require MetingJS -->
<script src="/ipa picture/js/Meting.min.js"></script>

<!-- MetingJS 加载参数 -->
<meting-js
	server="{{ page.meserver }}"
	type="{{ page.metype }}"
	id="{{ page.meid }}"
	autoplay="false"
	theme="#CC0000"
	list-max-height="340px"
	preload="none">
</meting-js>

<meting-js
	auto="{{ page.meauto }}">
</meting-js>

<meting-js
	name="{{ page.mename }}"
	artist="{{ page.meartist }}"
	url="{{ page.meurl }}"
	cover="{{ page.mecover }}"
        lrc="{{ page.melrc }}">
</meting-js>
