<!-- require APlayer -->
<link rel="stylesheet" href="/ipa picture/css/APlayer.min.css">
<div id="aplayer"></div>
<script src="/ipa picture/js/APlayer.min.js"></script> 


<!-- APlayer 加载参数 -->
<!-- <script type="text/javascript">
const ap = new APlayer({
    container: document.getElementById('aplayer'),
    preload: 'none',
    lrcType: 3,
    audio: {
        name: '暧昧',
        artist: '王菲',
        url: '/ipa picture/6/王菲 - 暧昧.mp3',
        cover: '/ipa picture/6/王菲 - 暧昧.jpg',
        lrc: '/ipa picture/6/王菲 - 暧昧.lrc'
    }
});
</script> -->


<!-- APlayer-full 加载参数 -->
<script type="text/javascript">
const ap = new APlayer({
    container: document.getElementById('aplayer'),
    fixed: false,
    mini: false,
    autoplay: false,
    theme: '#b7daff',
    loop: 'all', 
    order: 'list',
    preload: 'none',
    volume: 0.7,
    mutex: true,
    lrcType: 3,
    listFolded: false,
    listMaxHeight: 90,
    storageName: 'aplayer-setting',
    audio: [
        {
            name: '重来(Live)',
            artist: '逃跑计划',
            url: '/ipa picture/chanson/Netease/逃跑计划 - 重来(Live).mp3',
            cover: '/ipa picture/chanson/Netease/逃跑计划 - 重来(Live).jpg',
            lrc: '/ipa picture/chanson/Netease/逃跑计划 - 重来(Live).lrc'
        },        
        {
            name: '暧昧',
            artist: '王菲',
            url: '/ipa picture/6/王菲 - 暧昧.mp3',
            cover: '/ipa picture/6/王菲 - 暧昧.jpg',
            lrc: '/ipa picture/6/王菲 - 暧昧.lrc'
        },
        {
            name: '偿还',
            artist: '王菲',
            url: '/ipa picture/6/王菲 - 偿还.mp3',
            cover: '/ipa picture/6/王菲 - 偿还.jpg',
            lrc: '/ipa picture/6/王菲 - 偿还.lrc'
        },
        {
            name: '如风',
            artist: '王菲',
            url: '/ipa picture/6/王菲 - 如风.mp3',
            cover: '/ipa picture/6/王菲 - 如风.jpg',
            lrc: '/ipa picture/6/王菲 - 如风.lrc'
        },
        {
            name: '爱与痛的边缘',
            artist: '王菲',
            url: '/ipa picture/6/王菲 - 爱与痛的边缘.mp3',
            cover: '/ipa picture/6/王菲 - 爱与痛的边缘.jpg',
            lrc: '/ipa picture/6/王菲 - 爱与痛的边缘.lrc'
        }
    ]
});
</script>
