<!-- require APlayer -->
<link rel="stylesheet" href="/ipa picture/css/APlayer.min.css">
<div id="aplayer"></div>
<script src="/ipa picture/js/APlayer.min.js"></script> 


<!-- APlayer 加载参数 -->
<!-- <script type="text/javascript">
const ap = new APlayer({
    container: document.getElementById('aplayer'),
    preload: 'none',
    lrcType: 3,
    audio: {
        name: '暧昧',
        artist: '王菲',
        url: '/ipa picture/6/王菲 - 暧昧.mp3',
        cover: '/ipa picture/6/王菲 - 暧昧.jpg',
        lrc: '/ipa picture/6/王菲 - 暧昧.lrc'
    }
});
</script> -->


<!-- APlayer-full 加载参数 -->
<script type="text/javascript">
const ap = new APlayer({
    container: document.getElementById('aplayer'),
    fixed: false,
    mini: false,
    autoplay: false,
    theme: '#b7daff',
    loop: 'all', 
    order: 'list',
    preload: 'metadata',
    volume: 0.7,
    mutex: true,
    lrcType: 3,
    listFolded: false,
    listMaxHeight: 90,
    storageName: 'aplayer-setting',
    audio: [
        {
            name: '出现又离开 (Live)',
            artist: '梁博',
            url: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/梁博 - 出现又离开 (Live).mp3',
            cover: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/梁博 - 出现又离开 (Live).jpg',
            lrc: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/梁博 - 出现又离开 (Live).lrc'
        },
        {
            name: '日落大道 (Live)',
            artist: '梁博',
            url: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/梁博 - 日落大道 (Live).mp3',
            cover: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/梁博 - 日落大道 (Live).jpg',
            lrc: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/梁博 - 日落大道 (Live).lrc'
        },
        {
            name: '让我跟你走',
            artist: '彭羚',
            url: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/彭羚 - 让我跟你走.mp3',
            cover: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/彭羚 - 让我跟你走.jpg',
            lrc: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/彭羚 - 让我跟你走.lrc'
        },        
        {
            name: '重来(Live)',
            artist: '逃跑计划',
            url: '/ipa picture/chanson/Netease/逃跑计划 - 重来(Live).mp3',
            cover: '/ipa picture/chanson/Netease/逃跑计划 - 重来(Live).jpg',
            lrc: '/ipa picture/chanson/Netease/逃跑计划 - 重来(Live).lrc'
        },
        {
            name: '哪里是你的拥抱',
            artist: '逃跑计划',
            url: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/逃跑计划 - 哪里是你的拥抱.mp3',
            cover: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/逃跑计划 - 哪里是你的拥抱.jpg',
            lrc: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/逃跑计划 - 哪里是你的拥抱.lrc'
        },
        {
            name: '阳光照进回忆里',
            artist: '逃跑计划',
            url: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/逃跑计划 - 阳光照进回忆里.mp3',
            cover: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/逃跑计划 - 阳光照进回忆里.jpg',
            lrc: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/逃跑计划 - 阳光照进回忆里.lrc'
        },
        {
            name: '夜空中最亮的星',
            artist: '逃跑计划',
            url: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/逃跑计划 - 夜空中最亮的星.mp3',
            cover: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/逃跑计划 - 夜空中最亮的星.jpg',
            lrc: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/逃跑计划 - 夜空中最亮的星.lrc'
        },
        {
            name: '一万次悲伤(Live)',
            artist: '逃跑计划',
            url: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/逃跑计划 - 一万次悲伤(Live).mp3',
            cover: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/逃跑计划 - 一万次悲伤(Live).jpg',
            lrc: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/逃跑计划 - 一万次悲伤(Live).lrc'
        },
        {
            name: '直到有一天',
            artist: '逃跑计划',
            url: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/逃跑计划 - 直到有一天.mp3',
            cover: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/逃跑计划 - 直到有一天.jpg',
            lrc: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/逃跑计划 - 直到有一天.lrc'
        },        
        {
            name: '暧昧',
            artist: '王菲',
            url: '/ipa picture/6/王菲 - 暧昧.mp3',
            cover: '/ipa picture/6/王菲 - 暧昧.jpg',
            lrc: '/ipa picture/6/王菲 - 暧昧.lrc'
        },
        {
            name: '偿还',
            artist: '王菲',
            url: '/ipa picture/6/王菲 - 偿还.mp3',
            cover: '/ipa picture/6/王菲 - 偿还.jpg',
            lrc: '/ipa picture/6/王菲 - 偿还.lrc'
        },
        {
            name: '如风',
            artist: '王菲',
            url: '/ipa picture/6/王菲 - 如风.mp3',
            cover: '/ipa picture/6/王菲 - 如风.jpg',
            lrc: '/ipa picture/6/王菲 - 如风.lrc'
        },
        {
            name: '爱与痛的边缘',
            artist: '王菲',
            url: '/ipa picture/6/王菲 - 爱与痛的边缘.mp3',
            cover: '/ipa picture/6/王菲 - 爱与痛的边缘.jpg',
            lrc: '/ipa picture/6/王菲 - 爱与痛的边缘.lrc'
        },
        {
            name: '关不上的窗',
            artist: '周传雄',
            url: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/周传雄 - 关不上的窗.mp3',
            cover: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/周传雄 - 关不上的窗.jpg',
            lrc: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/周传雄 - 关不上的窗.lrc'
        },
        {
            name: '黄昏',
            artist: '周传雄',
            url: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/周传雄 - 黄昏.mp3',
            cover: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/周传雄 - 黄昏.jpg',
            lrc: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/周传雄 - 黄昏.lrc'
        },
        {
            name: '记事本',
            artist: '周传雄',
            url: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/周传雄 - 记事本.mp3',
            cover: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/周传雄 - 记事本.jpg',
            lrc: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/周传雄 - 记事本.lrc'
        },
        {
            name: '寂寞沙洲冷',
            artist: '周传雄',
            url: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/周传雄 - 寂寞沙洲冷.mp3',
            cover: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/周传雄 - 寂寞沙洲冷.jpg',
            lrc: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/周传雄 - 寂寞沙洲冷.lrc'
        },
        {
            name: '我的心太乱',
            artist: '周传雄',
            url: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/周传雄 - 我的心太乱.mp3',
            cover: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/周传雄 - 我的心太乱.jpg',
            lrc: '/ipa picture/chanson/lx-music-desktop-v1.8.2-win_x86-green/周传雄 - 我的心太乱.lrc'
        }        
    ]
});
</script>
