<!-- require APlayer -->
<link rel="stylesheet" href="/ipa picture/css/APlayer.min.css">
<div id="aplayer"></div>
<script src="/ipa picture/js/APlayer.min.js"></script> 

<!-- APlayer 加载参数 -->
<script type="text/javascript">
const ap = new APlayer({
    container: document.getElementById('aplayer'),
    lrcType: 3,
    audio: {
        name: '暧昧',
        artist: '王菲',
        url: '/ipa picture/6/王菲 - 暧昧.mp3',
        cover: '/ipa picture/6/王菲 - 暧昧.jpg',
        lrc: '/ipa picture/6/王菲 - 暧昧.lrc'
    }
});
</script>


<!-- APlayer-full 加载参数 -->
<script type="text/javascript">
const ap = new APlayer({
    container: document.getElementById('aplayer'),
    lrcType: 3,
    audio: [
        {
            name: '暧昧',
            artist: '王菲',
            url: '/ipa picture/6/王菲 - 暧昧.mp3',
            cover: '/ipa picture/6/王菲 - 暧昧.jpg',
            lrc: '/ipa picture/6/王菲 - 暧昧.lrc'
        },
        {
            name: '偿还',
            artist: '王菲',
            url: '/ipa picture/6/王菲 - 偿还.mp3',
            cover: '/ipa picture/6/王菲 - 偿还.jpg',
            lrc: '/ipa picture/6/王菲 - 偿还.lrc'
        }
    ]
});
</script>
